/* BANNER HOME  */
#fhm-banner {
  background: url(../assets/images/banner-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1600/920;
  position: relative;
}
.banner .banner-content {
  position: absolute;
  width: 100%;
  top: 15%;
}
.banner .banner-content button {
  margin-top: 35px;
}
.banner .element-decor:nth-child(1) {
  width: 5%;
  left: 35%;
  bottom: 0%;
  animation: updown ease-in-out 5s infinite alternate;
}
.banner .element-decor:nth-child(2) {
  width: 40%;
  left: 50%;
  bottom: 25%;
}
@media (max-width: 1199.99px) {
  .banner .banner-content button {
    margin-top: 20px;
  }
}
@media (max-width: 991.99px) {
  .banner .banner-content {
    display: none;
  }
}

/* CATEGORY OUTSTANDING */
.category-outstanding {
  padding-top: 120px;
  position: relative;
}
.category-outstanding .element-decor:nth-child(1) {
  left: 0;
  top: 15%;
  width: 9%;
  animation: updown ease-in-out 6s infinite alternate;
}
.category-outstanding .element-decor:nth-child(2) {
  right: 0;
  top: 0%;
  width: 15%;
  animation: updown ease-in-out 7s infinite alternate;
}
.category-outstanding .category-outstanding-container {
  margin-top: 20px;
}
.category-outstanding .category-outstanding-container .hot-nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 70px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #d9d9d9;
}
.category-outstanding .hot-nav .nav-link.active {
  background: transparent;
  color: var(--clr-pimary-green);
}

.category-outstanding .hot-nav .nav-link {
  padding: 0;
  padding-bottom: 20px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border: none;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.category-outstanding .hot-nav .nav-link.active {
  background: transparent;
  color: #6d8434;
}
.category-outstanding .hot-nav .nav-link::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #6d8434;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}
.category-outstanding .hot-nav .nav-link.active::after {
  width: 100%;
}
.product.product-slide {
  background: none;
  border: none;
}
@media only screen and (max-width: 480px) {
  .category-outstanding .category-outstanding-container .hot-nav {
    gap: 35px;
  }
  .category-outstanding .hot-nav .nav-link {
    font-size: 10px;
  }
}

/* START LIFETIME */
.lifetime {
  padding: 200px 0;
  margin-top: 100px;
  margin-bottom: 100px;
  background: url(../assets/images/Union.png);
  background-repeat: repeat-x;
  background-size: cover;
  position: relative;
}
.lifetime .element-decor:nth-child(1) {
  top: 20%;
  right: 3%;
  width: 6%;
  animation: updown ease-in-out 5s infinite alternate;
}
.lifetime .element-decor:nth-child(2) {
  top: 40%;
  left: 0%;
  width: 10%;
  animation: updown ease-in-out 6s infinite alternate;
}
.lifetime .element-decor:nth-child(3) {
  top: 80%;
  left: 0%;
  width: 9%;
  animation: updown ease-in-out 3s infinite alternate;
}
.lifetime .lifetime-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 37px;
  row-gap: 10px;
  margin-bottom: 65px;
  margin-top: 25px;
}
.lifetime .lifetime-tag p {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.24px;
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  opacity: 0.9;
}
.lifetime .lifetime-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.lifetime .lifetime-warranty {
  display: flex;
  align-items: center;
  gap: 30px;
  align-items: center;
}
.lifetime .lifetime-warranty .lifetime-warranty-icon {
  max-width: 40px;
  flex-shrink: 0;
}
.lifetime .lifetime-warranty .lifetime-warranty-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lifetime .lifetime-warranty .lifetime-warranty-content span {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  display: block;
}
.lifetime .lifetime-warranty .lifetime-warranty-content p {
  color: #656668;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.24px;
  margin: 0;
  padding: 0;
}
.lifetime .lifetime-main {
  margin-top: 120px;
}
@media (max-width: 575.99px) {
  .lifetime .lifetime-tag p {
    font-size: 12px;
    line-height: 20px;
  }
  .lifetime .lifetime-warranty {
    justify-content: center;
    width: 100%;
  }
  .lifetime .lifetime-warranty .lifetime-warranty-content p {
    font-size: 12px;
  }
  .lifetime .lifetime-warranty .lifetime-warranty-content span {
    font-size: 16px;
  }
}

/* BEST SELLERS */
.best-sellers {
  margin-top: 120px;
}
.block-title p {
  color: #656668;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.24px;
}
.best-sellers .best-seller-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;
}
@media (max-width: 1199.99px) {
  .best-sellers .best-seller-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991.99px) {
  .best-sellers .best-seller-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .product .product-content .product-button {
    display: flex;
  }
  .block-title p {
    display: none;
  }
}

/* HOW IT WORKS */
.confide {
  margin-top: 120px;
  position: relative;
  z-index: 2;
}
.confide .confide-container {
  padding: 100px 5% 150px 5%;
  display: flex;
  gap: 7%;
}
.confide .confide-container .confide-img {
  width: 80%;
}
.confide .confide-container .confide-content {
  margin-top: 65px;
}
.confide .confide-container .confide-name {
  margin-top: 5px;
}
.confide .confide-container .confide-name a {
  color: #367c2e;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.42px;
}
.confide .confide-container p {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.24px;
  opacity: 0.9;
}
.confide .element-decor:nth-child(1) {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
@media (max-width: 991.99px) {
  .confide .confide-container {
    display: block;
  }
  .confide .element-decor:nth-child(1) {
    display: none;
  }
  .confide .confide-container .confide-item {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 30px;
  }
  .confide .confide-container .confide-img img {
    height: auto;
  }
  .confide .confide-container .confide-content {
    margin-top: 0;
  }
  .confide .confide-container .confide-name a {
    font-size: 23px;
  }
  .confide .confide-container p {
    padding-top: 0px;
    font-size: 12px;
  }
}
@media (max-width: 575.99px) {
  .confide .confide-container .confide-item {
    flex-direction: column;
  }
  .confide .confide-container .confide-content {
    margin-top: 30px;
  }
  .confide .confide-container {
    padding-top: 50px;
  }
}

/* TALK */
.talk {
  margin-top: -5%;
  position: relative;
}
.talk .talk-container {
  top: 25%;
  position: absolute;
  width: 100%;
}
.talk .talk-container .talk-content {
  margin-left: 58%;
  padding: 90px 65px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
}
.talk .talk-container .talk-content h3.block-title-main{
  text-align: left;
  line-height: 55px;
}
.talk .talk-container .talk-content p {
 margin-top: 10px;
 opacity: 0.8;
}
.talk .talk-container .talk-content button{
 margin-top:  25px;
}
@media (max-width: 1399.99px) {
  .talk .talk-container .talk-content {
    margin-left: 50%;
    padding: 80px 60px;
}
}
@media (max-width: 1199.99px) {
  .talk .talk-container .talk-content {
    margin-left: 35%;
    padding: 60px 50px;
}
  .talk .talk-container .talk-content h3.block-title-main {
    font-size: 26px;
  }
}
@media (max-width: 991.99px) {
  .talk {
    margin-top: -15%;
  }
  .talk .talk-container .talk-content {
    margin: 0 10%;
}
}
@media (max-width: 480px) {
  .talk .talk-container .talk-content p {
    font-size: 12px;
  }
  .talk .talk-container .talk-content {
    padding: 50px 40px;
    margin: 0;
  }
}
