/* BANNER HOME  */
#fhm-banner {
  background: url(../assets/images/banner-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1600/920;
  position: relative;
}
.banner .banner-content {
  position: absolute;
  width: 100%;
  top: 15%;
}
.banner .banner-content button {
  margin-top: 35px;
}
.banner .element-decor:nth-child(1) {
  width: 5%;
  left: 35%;
  bottom: 0%;
  animation: leafOne 5s linear infinite;
}
.banner .element-decor:nth-child(2) {
  width: 40%;
  left: 50%;
  bottom: 25%;
}
@media (max-width: 1199.99px) {
  .banner .banner-content button {
    margin-top: 20px;
  }
}
@media (max-width: 991.99px) {
  .banner .banner-content {
    display: none;
  }
}

/* CATEGORY OUTSTANDING */
.category-outstanding {
  padding-top: 120px;
  position: relative;
}
.category-outstanding .element-decor:nth-child(1) {
  left: 0;
  top: 15%;
  width: 9%;
  animation: updown ease-in-out 6s infinite alternate;
}
.category-outstanding .element-decor:nth-child(2) {
  right: 0;
  top: 0%;
  width: 15%;
  animation: updown ease-in-out 7s infinite alternate;
}
.category-outstanding .category-outstanding-container {
  margin-top: 20px;
}
.category-outstanding .category-outstanding-container .hot-nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 70px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #d9d9d9;
}
.category-outstanding .hot-nav .nav-link.active {
  background: transparent;
  color: var(--clr-pimary-green);
}

.category-outstanding .hot-nav .nav-link {
  padding: 0;
  padding-bottom: 20px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border: none;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.category-outstanding .hot-nav .nav-link:hover {
  background: transparent;
}
.category-outstanding .hot-nav .nav-link.active {
  background: transparent;
  color: #6d8434;
}
.category-outstanding .hot-nav .nav-link::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #6d8434;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}
.category-outstanding .hot-nav .nav-link.active::after {
  width: 100%;
}
.product.product-slide {
  background: none;
  border: none;
}
@media only screen and (max-width: 480px) {
  .category-outstanding .category-outstanding-container .hot-nav {
    gap: 35px;
  }
  .category-outstanding .hot-nav .nav-link {
    font-size: 10px;
  }
}

/* START LIFETIME */
.lifetime {
  padding: 200px 0;
  margin-top: 100px;
  margin-bottom: 100px;
  background: url(../assets/images/Union.png);
  background-repeat: repeat-x;
  background-size: cover;
  position: relative;
}
.lifetime .element-decor:nth-child(1) {
  top: 20%;
  right: 3%;
  width: 6%;
  animation: leafOne 5s linear infinite;
}
.lifetime .element-decor:nth-child(2) {
  top: 40%;
  left: 0%;
  width: 10%;
  animation: updown ease-in-out 6s infinite alternate;
}
.lifetime .element-decor:nth-child(3) {
  top: 80%;
  left: 0%;
  width: 9%;
  animation: updown ease-in-out 3s infinite alternate;
}
.lifetime .lifetime-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 37px;
  row-gap: 10px;
  margin-bottom: 65px;
  margin-top: 25px;
}
.lifetime .lifetime-tag p {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.24px;
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  opacity: 0.9;
}
.lifetime .lifetime-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.lifetime .lifetime-warranty {
  display: flex;
  align-items: center;
  gap: 30px;
  align-items: center;
}
.lifetime .lifetime-warranty .lifetime-warranty-icon {
  max-width: 40px;
  flex-shrink: 0;
}
.lifetime .lifetime-warranty .lifetime-warranty-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lifetime .lifetime-warranty .lifetime-warranty-content span {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  display: block;
}
.lifetime .lifetime-warranty .lifetime-warranty-content p {
  color: #656668;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.24px;
  margin: 0;
  padding: 0;
}
.lifetime .lifetime-main {
  margin-top: 120px;
}
@media (max-width: 575.99px) {
  .lifetime .lifetime-tag p {
    font-size: 12px;
    line-height: 20px;
  }
  .lifetime .lifetime-warranty {
    justify-content: center;
    width: 100%;
  }
  .lifetime .lifetime-warranty .lifetime-warranty-content p {
    font-size: 12px;
  }
  .lifetime .lifetime-warranty .lifetime-warranty-content span {
    font-size: 16px;
  }
}

/* BEST SELLERS */
.best-sellers {
  margin-top: 120px;
}
.block-title p {
  color: #656668;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.24px;
  text-align: center;
  margin-top: 10px;
}
.best-sellers .best-seller-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;
}
@media (max-width: 1199.99px) {
  .best-sellers .best-seller-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991.99px) {
  .best-sellers .best-seller-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .product .product-content .product-button {
    display: flex;
  }
  .block-title p {
    display: none;
  }
}

/* HOW IT WORKS */
.confide {
  margin-top: 120px;
  position: relative;
  z-index: 2;
}
.confide .confide-container {
  padding: 100px 8% 150px 8%;
  display: flex;
  gap: 5%;
}
.confide .confide-container .confide-img {
  width: 80%;
}
.confide .confide-container .confide-content {
  margin-top: 65px;
}
.confide .confide-container .confide-name {
  margin-top: 5px;
}
.confide .confide-container .confide-name a {
  color: #367c2e;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.42px;
}
.confide .confide-container p {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.24px;
  opacity: 0.9;
}
.confide .element-decor:nth-child(1) {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
@media (max-width: 991.99px) {
  .confide .confide-container {
    display: block;
  }
  .confide .element-decor:nth-child(1) {
    display: none;
  }
  .confide .confide-container .confide-item {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 30px;
  }
  .confide .confide-container .confide-img img {
    height: auto;
  }
  .confide .confide-container .confide-content {
    margin-top: 0;
  }
  .confide .confide-container .confide-name a {
    font-size: 23px;
  }
  .confide .confide-container p {
    padding-top: 0px;
    font-size: 12px;
  }
}
@media (max-width: 575.99px) {
  .confide .confide-container .confide-item {
    flex-direction: column;
  }
  .confide .confide-container .confide-content {
    margin-top: 30px;
  }
  .confide .confide-container {
    padding-top: 50px;
  }
}

/* TALK */
.talk {
  margin-top: -5%;
  position: relative;
}
.talk .talk-container {
  top: 25%;
  position: absolute;
  width: 100%;
}
.talk .talk-container .talk-content {
  margin-left: 58%;
  padding: 90px 65px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
}
.talk .talk-container .talk-content h3.block-title-main {
  text-align: left;
  line-height: 55px;
}
.talk .talk-container .talk-content p {
  margin-top: 10px;
  opacity: 0.8;
}
.talk .talk-container .talk-content button {
  margin-top: 25px;
}
@media (max-width: 1399.99px) {
  .talk .talk-container .talk-content {
    margin-left: 50%;
    padding: 80px 60px;
  }
}
@media (max-width: 1199.99px) {
  .talk .talk-container .talk-content {
    margin-left: 35%;
    padding: 60px 50px;
  }
  .talk .talk-container .talk-content h3.block-title-main {
    font-size: 26px;
  }
}
@media (max-width: 991.99px) {
  .talk {
    margin-top: -15%;
    position: relative;
  }
  .talk .talk-container {
    position: unset;
    transform: translateY(-50%);
  }
  .talk .talk-container .talk-content {
    margin: 0 10%;
  }
}
@media (max-width: 767.99px) {
  .talk .talk-container {
    transform: translateY(-40%);
  }
}
@media (max-width: 480px) {
  .talk .talk-container .talk-content p {
    font-size: 12px;
  }
  .talk .talk-container .talk-content {
    padding: 50px 40px;
    margin: 0;
  }
  .talk .talk-container {
    transform: translateY(-30%);
  }
}

/* CATEGORY  */
.by-category {
  margin-top: 120px;
  position: relative;
  background: url(../assets/images/bg-category.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.by-category .element-decor:nth-child(1) {
  top: 0%;
  left: 0;
  z-index: -1;
  animation: updown ease-in-out 6s infinite alternate;
  width: 12%;
}
.by-category .by-category-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  align-items: center;
}
.by-category .by-category-title .title-content,
.by-category .by-category-title .block-title {
  width: 45%;
  text-align: left;
}
.by-category-container {
  margin-top: 100px;
}
.category-slider {
  margin-left: 8%;
}
.category-slider .category-item {
  position: relative;
  aspect-ratio: 334/473;
}
.category-slider .category-item img {
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.category-slider .category-item .category-img {
  overflow: hidden;
  border-radius: 10px;
}
.category-slider .category-item .category-img:hover img {
  transform: scale(1.1);
}
.category-slider .category-item .category-content {
  position: absolute;
  bottom: 5%;
  left: 7%;
}
.category-slider .category-item .category-content a {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.39px;
}
@media (max-width: 1199.99px) {
  .by-category .by-category-title {
    flex-direction: column;
  }
  .by-category .by-category-title .block-title {
    width: 100%;
    text-align: center;
  }
  .by-category .by-category-title .title-content {
    display: none;
  }
  .category-slider .category-item .category-content a {
    font-size: 20px;
  }
}
@media (max-width: 991.99px) {
  .by-category {
    margin-top: 0;
  }
  .by-category-container {
    margin-top: 50px;
  }
}

/* FIND OUT MORE */
.find-out-more {
  padding-top: 17%;
  position: relative;
}
.find-out-more .element-decor:nth-child(1) {
  top: 7%;
  left: 11%;
  width: 9%;
  animation: leafOne 5s linear infinite;
}
.find-out-more .element-decor:nth-child(2) {
  top: 50%;
  left: 6%;
  width: 5%;
  animation: updown ease-in-out 10s infinite alternate;
}
.find-out-more .element-decor:nth-child(3) {
  top: 15%;
  right: 6%;
  width: 8%;
  animation: updown ease-in-out 8s infinite alternate;
}
.find-out-more .find-out-more-container {
  width: 45%;
  text-align: left;
}
.find-out-more .find-out-more-container h3.block-title-main {
  text-align: left;
}
.find-out-more .find-out-more-container p {
  margin-top: 15px;
  margin-bottom: 32px;
  line-height: 35px;
}
.find-out-more .bg-find-out-more {
  position: absolute;
  width: 50%;
  right: 0;
  top: 35%;
}
@media (max-width: 992px) {
  .find-out-more .find-out-more-container {
    width: 100%;
  }
  .find-out-more .bg-find-out-more {
    position: unset;
    width: 100%;
  }
  .find-out-more .element-decor:nth-child(1) {
    width: 25%;
    z-index: -1;
  }
  .find-out-more .element-decor:nth-child(2) {
    width: 20%;
    z-index: -1;
    animation: updown2 ease-in-out 10s infinite alternate;
  }
  .find-out-more .element-decor:nth-child(3) {
    width: 20%;
    z-index: -1;
    animation: updown2 ease-in-out 8s infinite alternate;
  }
}

.library-instagram {
  margin-top: 30%;
}
.library-instagram .block-title {
  padding: 0 20%;
}
.library-instagram .ig-slider {
  margin-top: 65px;
}
.library-instagram .ig-slider .ig-item {
  width: 370px;
  aspect-ratio: 1/1.05;
  transition: all 0.65s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}
.library-instagram .ig-slider .ig-item img {
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.library-instagram .ig-slider .ig-item:hover img {
  transform: scale(1.1);
}
.library-instagram .ig-next {
  right: 50px;
}
.library-instagram .ig-prev {
  left: 50px;
}

.library-instagram .ig-prev,
.library-instagram .ig-next {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  border-radius: 500px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.library-instagram .ig-prev svg,
.library-instagram .ig-next svg {
  width: 11px;
}
.library-instagram .ig-prev:hover,
.library-instagram .ig-next:hover {
  background-color: #6d8434;
  transition: all 0.35s ease-in-out;
}
.library-instagram .ig-prev:hover svg,
.library-instagram .ig-next:hover svg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(7466%)
    hue-rotate(176deg) brightness(103%) contrast(101%);
  transition: all 0.35s ease-in-out;
}
@media (max-width: 991.99px) {
  .library-instagram {
    margin-top: 50px;
  }
  .library-instagram .ig-slider .ig-item {
    width: 300px;
    aspect-ratio: 1/1.05;
    transition: all 0.65s ease-in-out;
    border-radius: 20px;
    overflow: hidden;
  }
  .library-instagram .ig-prev,
  .library-instagram .ig-next {
    display: none;
  }
  .library-instagram .block-title {
    padding: 0;
  }
}

/* OUR BLOG */
.our-blog {
  margin-top: 120px;
}
.our-blog .block-title {
  padding: 0 15%;
}
.our-blog .blog-list {
  margin-top: 65px;
  display: flex;
  gap: 2%;
  overflow: auto;
}
.our-blog .blog-list .news {
  width: 32%;
  min-width: 370px;
}
.news .news-content {
  margin-top: 25px;
}
.news .news-content span {
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 136.364% */
  letter-spacing: 3.3px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}
.news .news-content a {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: 0.3px;
}
.news .news-img {
  overflow: hidden;
  border-radius: 10px;
}
.news .news-img:hover img {
  transform: scale(1.1);
}
.news .news-img img {
  transition: all 0.45s ease-in-out;
  border-radius: 10px;
}
@media (max-width: 991.99px) {
  .our-blog .block-title {
    padding: 0;
  }
  .our-blog .blog-list .news {
    width: 32%;
    min-width: 330px;
  }
}

/* FAQS */
.faqs {
  margin-top: 120px;
  position: relative;
}
.faqs .element-decor:nth-child(1) {
  z-index: -1;
  bottom: 6%;
  width: 16%;
  left: 30%;
  animation: leafOne 7s linear infinite;
}
.faqs .faqs-container {
  display: flex;
  justify-content: space-between;
}
.faqs .faqs-container .block-title {
  max-width: 270px;
  text-align: left;
}
.faqs .faqs-container .block-title p {
  text-align: left;
}
.faqs .faqs-container .question-list {
  width: 62%;
}
.faqs .questions .questions-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #f4f1ea;
  padding: 24px 40px;
  transition: all 0.45s ease-in-out;
}
.faqs .questions .questions-content button {
  border: none;
  background: none;
  transition: all 0.45s ease-in-out;
  padding: 0;
  margin-left: 10px;
}
.faqs .questions {
  margin-bottom: 25px;
}
.faqs .questions .questions-content .button-collapse .button-hidden {
  display: none;
  transition: all 0.45s ease-in-out;
}
.faqs .questions .questions-content .button-collapse .button-show {
  display: block;
  transition: all 0.45s ease-in-out;
}
.faqs .questions .questions-content span {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3px;
}
.faqs .questions.questions-active .questions-content {
  border-radius: 10px 10px 0px 0px;
  background: #e6e1d7;
}
.faqs .questions .collapse {
  background: #f4f1ea;
  padding: 45px 40px;
  border-radius: 0px 0px 10px 10px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
}
.faqs .questions .collapse p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.24px;
}
@media (max-width: 991.99px) {
  .faqs .faqs-container {
    flex-direction: column;
  }
  .faqs .faqs-container .question-list {
    width: 100%;
    margin-top: 50px;
  }
  .faqs .element-decor:nth-child(1) {
    z-index: -1;
    bottom: 6%;
    width: 16%;
    left: 0;
    animation: leafOne 7s linear infinite;
  }
}
@media (max-width: 480px) {
  .faqs .questions .questions-content span {
    font-size: 18px;
  }
  .faqs .questions .questions-content,
  .faqs .questions .collapse {
    padding: 20px;
  }
  .faqs .questions .collapse p {
    font-size: 14px;
  }
}

.partner {
  margin-top: 120px;
  padding: 150px 0;
  position: relative;
  background: url(../assets/images/Union\ \(5\).png);
  background-repeat: no-repeat;
  background-size: cover;
}
.partner .partner-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 55px;
  row-gap: 35px;
}
.partner .partner-item img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 40px;
}
@media only screen and (max-width: 991.99px) {
  .partner .partner-list {
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: start;
    gap: 30px;
  }
  .partner {
    padding: 100px 0;
  }
}

/* NEWS LETTER  */
.newsletter {
  padding: 120px 0;
  margin-top: -1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: url(../assets/images/Bg-newsletter.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fhm-homepage .newsletter {
  transform: translateY(-70px);
}
.newsletter .container {
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}
.newsletter .block-title {
  padding: 0 15%;
}
.newsletter .newsletter-form {
  position: relative;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 30px;
}
.newsletter .newsletter-form input {
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  line-height: 28px;
  padding: 13px 150px 13px 50px;
  border-radius: 5px;
  border: 1px solid #6d8434;
}
.newsletter .newsletter-form .newsletter-submit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 13px 28px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px;
  background: var(--Button-CTA-Color, #6d8434);
  text-transform: capitalize;
}
.newsletter .newsletter-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url(../assets/images/icon-email.svg);
  background-repeat: no-repeat;
  background-position: center right;
  height: 100%;
  width: 42px;
}
.newsletter .newsletter-form input:focus-visible {
  outline: none;
}
@media (max-width: 991.99px) {
  .newsletter .block-title {
    padding: 0;
  }
}
@media only screen and (max-width: 767.99px) {
  .newsletter {
    padding: 70px 0;
  }
  .newsletter .newsletter-form input {
    font-size: 12px;
    line-height: 18px;
  }
  .newsletter .newsletter-form .newsletter-submit {
    font-size: 12px;
    line-height: 20px;
  }
}

/* FOOTER  */
.footer {
  padding-top: 24px;
  padding-bottom: 34px;
  background: url(../assets/images/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer.footer-homepage {
  transform: translateY(-75px);
}
.footer .footer-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}
.footer .footer-el {
  min-width: 20%;
}
.footer .footer-el li {
  padding-bottom: 10px;
}
.footer .footer-el h3 {
  color: var(--black-2, #121212);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.24px;
  margin-bottom: 20px;
}
.footer p,
.footer a {
  color: var(--black-2, #121212);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.21px;
  margin-bottom: 12px;
}
.footer .footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-policy {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-policy a {
  padding: 0 20px;
  line-height: 15px;
  border-right: 1px solid var(--clr-add-grey);
}
.footer .footer-el .footer-download-icon {
  display: block;
  max-width: 128px;
  margin-bottom: 9px;
}
.footer .footer-social {
  display: flex;
  gap: 45px;
  margin-top: 23px;
}
.footer .footer-el .footer-download {
  margin-top: 20px;
}
.footer .footer-social .footer-social-icon:hover path {
  fill: #34892A;
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 991.99px)
{
  .footer .footer-main {
      flex-wrap: wrap;
      gap: 10%;
      row-gap: 30px;
      padding-bottom: 20px;
      margin-bottom: 20px;
  }
  .footer .footer-end {
    flex-wrap: wrap;
    gap: 5px;
}
.footer .footer-policy a:first-child {
    padding-left: 0;
}
}
@media only screen and (max-width: 575.98px){
.footer p, .footer a {
  font-size: 12px;
}
.footer .footer-policy {
  justify-content: center;
}
}