@import "../css/home.css";
@import "../css/product-list.css";
@import "../css/product-detail.css";
@import "../css/shopping-cart.css";
@import "../css/checkout-payment.css";
@import "../css/contact-us.css";
@import "../css/accout-page.css";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Urbanist", sans-serif;
  box-sizing: border-box;
}
html,
body {
  font-family: "Urbanist", sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.24px;
}
main {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000000;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: #6d8434;
  transition: all 0.5s ease-in-out;
}
a:focus-visible {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  color: #000000;
}
p {
  font-family: "Urbanist", sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.24px;
  text-align: justify;
}
button {
  background-color: transparent;
  display: flex;
  padding: 18px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #6d8434;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  opacity: 0.9;
  transition: all 0.5s ease;
}
button:hover {
  opacity: 1;
  background: #5C7227;
  transition: all 0.5s ease;
}
button:focus-visible {
  outline: none;
}
textarea {
  resize: none;
}
.element-decor {
  position: absolute;
  z-index: 2;
  width: auto;
}
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70px);
  }
}
@keyframes updown2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes leafOne {
  0% {
    transform: translateX(-5px) rotate(-5deg);
}
16.67% {
    transform: translateX(0) translateY(2px) rotate(-1deg);
}
33.33% {
    transform: translateX(5px) translateY(4px) rotate(3deg);
}
50% {
    transform: translateX(2px) translateY(0px) rotate(5deg);
}
66.67% {
    transform: translateX(5px) translateY(4px) rotate(3deg);
}
83.33% {
    transform: translateX(0) translateY(2px) rotate(-1deg);
}
100% {
    transform: translateX(-5px) translateY(0) rotate(-5deg);
}
}
@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1184px;
  }
  .container.container-checkout {
    max-width: 1265px;
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}
h5.banner-title-top {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 4.2px;
  text-transform: uppercase;
}
h1.banner-title {
  color: #000;
  font-size: 60px;
  font-weight: 300;
  line-height: 75px;
  letter-spacing: 0.9px;
  margin-top: 15px;
}
@media (max-width: 1199.99px) {
  h5.banner-title-top {
    font-size: 10px;
  }
  h1.banner-title {
    font-size: 40px;
    line-height: 55px;
  }
  button {
    font-size: 12px;
  }
}

/* HEADER  */
.header .header-topbar {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: #6d8434;
}
.header .header-topbar .header-topbar-content {
  height: 42px;
}
.header .header-topbar .header-topbar-content .col-xl-4:nth-child(2) {
  padding: 0;
}
.header .header-topbar .header-topbar-info {
  gap: 30px;
}
.header .header-topbar .header-topbar-info-item {
  gap: 5px;
}
.header .header-topbar .header-topbar-info .header-topbar-info-icon {
  display: flex;
  align-items: center;
}
.header .header-topbar a,
.header .header-topbar p {
  color: #fff;
  font-size: 12px;
}
.header .header-topbar .header-topbar-notice .header-topbar-slider p {
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin: 0;
  white-space: nowrap;
}
.header .header-topbar .header-topbar-notice a {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}
.header .header-topbar .header-topbar-notice {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.header .header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0px 0;
}
.header .header-nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.header .header-logo {
  max-width: 200px;
  padding-bottom: 15px;
}
.header .header-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin: 0;
}
.header .header-nav-link {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 1.857;
  padding: 20px 0;
}
.header .header-nav-item:hover .header-nav-link {
  color: #6d8434;
}
.header .header-action {
  margin-left: 6%;
}
.header .header-action,
.header .header-action-group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
}
.header .header-action-item {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.header .header-action-item:hover svg path {
  fill: #6d8434;
  transition: all 0.5s ease;
}
.header .header-wrapper {
  border-bottom: 1px solid #e9e9e9;
}
.header .header-action,
.header .header-action-group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
  padding-bottom: 11px;
}
.header .header-cart {
  position: relative;
}
.header .header-cart span {
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 10px;
  line-height: 14px;
  color: white;
  background-color: #6d8434;
  border-radius: 50%;
  overflow: hidden;
  padding: 0.5px 4.5px;
}
.header .mega-menu {
  left: 0;
  top: 135px;
  width: 100%;
  z-index: 4;
  background: var(--clr-second-bg);
  transition: all 0.5s ease;
  display: none;
  animation: updown2 0.5s ease forwards;
  box-shadow: 0px 40px 50px 0px rgba(0, 0, 0, 0.4);
}
.header .mega-menu.mega-menu1 {
  padding: 54px 3% 71px 3%;
}
.header .header-nav-item:hover .mega-menu {
  display: block;
  transition: all 0.5s ease;
  background: #fff;
}
.header .mega-menu .mega-menu-main {
  gap: 20px;
  justify-content: space-between;
}
.header .mega-menu .mega-menu-list {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 270%;
  letter-spacing: 0.27px;
  text-transform: capitalize;
  margin-top: 10px;
  justify-content: space-between;
  gap: 30px;
}
.header .mega-menu.mega-menu3 .mega-menu-list {
  margin-top: 3px;
}
.header .mega-menu.mega-menu1 .mega-menu-list .mega-menu-col:nth-child(2) {
  width: 50%;
}
.header .mega-menu.mega-menu3 .mega-menu-list .mega-menu-col {
  padding: 5%;
}
.header .mega-menu.mega-menu3 .mega-menu-list .mega-menu-col:nth-child(1) {
  background: #f4f1ea;
}
.header .mega-menu.mega-menu3 .mega-menu-list .mega-menu-col:nth-child(2) {
  width: 80%;
}
.header .mega-menu .mega-menu-list .mega-menu-col:nth-child(2) .mega-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.header
  .mega-menu
  .mega-menu-list
  .mega-menu-col:nth-child(2)
  .mega-menu-list
  li {
  width: 45%;
}
.header .mega-menu .mega-menu-col .mega-menu-title {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.header .mega-menu:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 50px;
}
.header .mega-menu .mega-menu-list .mega-menu-list-item {
  display: flex;
  gap: 15px;
}
.header .mega-menu .mega-menu-list .mega-menu-list-item .item-img {
  max-width: 70px;
  max-height: 75px;
}
.header .mega-menu .mega-menu-list .mega-menu-list-item .item-info a {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.27px;
  white-space: nowrap;
}
.header .mega-menu .mega-menu-list .mega-menu-list-item .item-info a:hover {
  color: #6d8434;
  transition: all 0.5s ease;
}
.header .mega-menu .mega-menu-list .mega-menu-list-item .item-info a:hover svg {
  fill: #6d8434;
  transition: all 0.5s ease;
}
.header .mega-menu .mega-menu-list .mega-menu-list-item .item-info svg {
  margin-left: 10px;
}
.header .mega-menu .mega-menu-list .mega-menu-list-item .item-info p {
  font-size: 12px;
  font-weight: 300;
  line-height: 125%; /* 15px */
  letter-spacing: 1.2px;
  white-space: nowrap;
}
.header #menu-mobile {
  width: 80vw;
  max-width: 450px;
  background: #fff;
}
.header #menu-mobile .btn-close {
  right: 10px;
  position: absolute;
  top: 10px;
}
.header #menu-mobile .header-nav-mobile {
  margin-top: 40px;
}
.header #menu-mobile .header-nav-mobile li {
  padding: 15px 0;
  border-bottom: 1px solid var(--clr-border);
}
.header #menu-mobile .header-nav-mobile li a {
  color: var(--clr-green-black);
  font-size: 16px;
}
.header #menu-mobile .header-nav-mobile li a:hover {
  color: #6d8434;
  transition: all 0.5s ease;
}
/* .header .header-nav-item {
  padding: 15px 0 41px 0;
} */
.header #menu-mobile .nav-list .header-nav-list-lv0 {
  padding-left: 30px;
  margin-top: 15px;
}
.header #menu-mobile .nav-list .header-nav-list-lv0 .header-nav-list-lv1 {
  list-style: none;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.header #menu-mobile .nav-list .header-nav-list-lv0 .header-nav-list-lv1 li {
  list-style: none;
}
.header #menu-mobile .nav-list .close-sub-nav svg:nth-child(1) {
  display: none;
}
.header #menu-mobile .nav-list .close-sub-nav.collapsed svg:nth-child(2) {
  display: none;
}
.header #menu-mobile .nav-list .close-sub-nav {
  position: absolute;
  top: 13px;
  right: 0px;
  padding: 10px 0 10px 20px;
}
.header #menu-mobile .nav-list .close-sub-nav svg {
  width: 16px;
}
.header #menu-mobile .header-nav-mobile li {
  padding: 15px 0;
  border-bottom: 1px solid #d9d9d9;
}
.header #menu-mobile .nav-list .close-sub-nav.collapsed svg:nth-child(1) {
  display: block !important;
}
.header #menu-mobile .nav-list .close-sub-nav svg:nth-child(1) {
  display: none;
}
.header #menu-mobile .header-nav-mobile li:last-child {
  border: none;
}
@media only screen and (max-width: 1399px) {
  .header
    .mega-menu
    .mega-menu-list
    .mega-menu-col:nth-child(2)
    .mega-menu-list
    li {
    width: 100%;
  }
  .header .mega-menu .mega-menu-list .mega-menu-col:nth-child(2) {
    width: 35%;
  }
}
@media only screen and (max-width: 1199px) {
  .header .header-topbar .header-topbar-info {
    display: none;
  }
}
@media only screen and (max-width: 991.98px) {
  .header .header-nav {
    display: none;
  }
  .header .header-action {
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 480px) {
  .header .header-topbar p {
    font-size: 10px;
  }
}

/* BLOCK TITLE  */
.block-title {
  text-align: center;
}
h6.block-title-top {
  font-size: 12px;
  font-weight: 300; /* 200% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
h2.block-title-main {
  font-size: 48px;
  font-weight: 300;
  line-height: 64px; /* 125% */
  letter-spacing: 0.72px;
}
h3.block-title-main {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 66px; /* 206.25% */
  letter-spacing: 0.48px;
}
.rating {
  --percent: calc(
    ((var(--rating) - 0.5) * 5 + var(--rating) * 20) / 120 * 100%
  );
  display: block;
  width: 100px;
  font-size: 16px;
  line-height: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.rating svg {
  width: 100%;
  height: 100%;
}
:root {
  --color1: #6d8434;
  --color2: #eeebdb;
  --color3: #ffff;
  --color4: #B6A57D;
}
@media (max-width: 575.99px) {
  h2.block-title-main {
    font-size: 38px;
  }
  h3.block-title-main {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  h6.block-title-top {
    font-size: 10px;
  }
  h2.block-title-main {
    font-size: 34px;
  }
}

/* PRODUCT  */
.product {
  border-radius: 10px 10px 20px 20px;
  border: 1px solid #f2f0ea;
  background: #fffcf5;
  height: fit-content;
  transition: all 0.5s ease;
}
.product .product-img img {
  border-radius: 5px 5px 0px 0px;
}
.product .product-img {
  border: none;
  aspect-ratio: 1/1;
  border-radius: 10px;
  position: relative;
}
.product .product-img .discount {
  padding: 7px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  color: #6d8434;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  opacity: 1;
}
.product.product-item:hover .product-img .discount {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.product.product-item:hover .product-img .favourite {
  display: flex;
  opacity: 1;
  transition: all 0.5s ease;
}
.product .product-img .favourite:hover {
  background: #6d8434;
  transition: all 0.5s ease;
}
.product .product-img .favourite:hover svg path {
  fill: #fff;
}
.product .product-img .favourite {
  padding: 10px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.product .product-content {
  padding: 25px 10px;
  text-align: center;
}
.product .product-content .product-button {
  /* opacity: 0; */
  transition: all 0.5s ease;
  justify-content: center;
  margin-top: 25px;
  display: none;
}
.product.product-item:hover {
  transition: all 0.5s ease;
  border-radius: 10px;
  max-height: none;
}
.product.product-item:hover .product-content .product-button {
  display: flex;
  transition: all 0.5s ease;
}
.product .product-content .button-add-cart {
  font-size: 12px;
  padding: 10px 20px;
}
.product .product-content .product-title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  margin-top: 5px;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.product .product-content .product-rating {
  margin-top: 12px;
}
.product .product-content .product-rating::before,
.detail-info .detail-rating .rating::before,
.testimonial-rating::before {
  content: "★★★★★";
  font-size: 20px;
    background: linear-gradient(90deg, #6d8434 var(--percent), #D1D3D5 var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product.product.product-item:hover .product-content .product-rating::before {
  content: "★★★★★";
  font-size: 20px;
    background: linear-gradient(90deg, #fff var(--percent), #D1D3D5 var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product .product-content .price {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  justify-content: center;
  font-size: 16px;
  line-height: 28px; /* 175% */
}
.product .product-content .price .price-new {
  color: #000;
  font-weight: 600;
}
.product .product-content .price .price-old {
  color: #656668;
  font-weight: 400;
  text-decoration-line: line-through;
}
.product.product-item:hover h6.block-title-top,
.product.product-item:hover .product-content .product-title,
.product.product-item:hover .product-content .price .price-old,
.product.product-item:hover .product-content .price .price-new {
  color: #fff;
  transition: all 0.5s ease;
}
.product.product-item:hover .product-content .price .price-old {
  opacity: 0.8;
}
.product.product-item:hover .product-content .rating s  vg path:nth-child(1){
  fill: #b6a57d;
  transition: all 0.5s ease;
}
.product .product-content .product-title:hover {
  color: #6d8434;
}
.product.product-item:hover .product-content .product-title:hover {
  color: #6d8434;
}
.product.product-item:hover {
  border: 1px solid #f2f0ea;
  background: #b6a57d;
}
.product.product-item:hover .product-main {
  position: relative;
}
.product.product-item:hover .product-content {
  background: #b6a57d;
  border-radius: 0 0 10px 10px;
  position: absolute;
  width: 100.4%;
  top: 0;
  left: 0;
  z-index: 99;
}
.product.product-item.product-row:hover .product-content {
  position: unset;
  background: none;
}
.product.product-item.product-row:hover .product-main {
  background: none;
}
.product.product-row {
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid #efefef;
}
.product.product-row .product-content .product-title {
  font-size: 18px;
}
.product.product-row .product-content .product-button {
  display: flex;
}
.product.product-row:last-child {
  border: none;
}
.product.product-row .product-img {
  max-width: 142px;
  aspect-ratio: 116/186;
  margin-bottom: 0;
  flex-shrink: 0;
}
.product.product-row .product-img .product-wishlist,
.product.product-row .product-img .product-quickview {
  display: none;
}
.product.product-row .product-info {
  width: 100%;
}
.product.product-row .product-info .product-info-wishlist {
  display: block;
  cursor: pointer;
}
.product.product-row .product-info .product-info-wishlist svg path {
  transition: all 0.3s ease;
}
.product.product-row .product-info .product-info-wishlist:hover svg path {
  fill: #000000;
}
.product.product-row .product-info .product-info-wishlist.active svg path {
  fill: #ff0000;
}
.product.product-row .product-info .product-info-top {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.product.product-row .product-info .product-name {
  margin-bottom: 5px;
}
.product.product-row .product-info .product-price {
  margin-top: 25px;
}
.product.product-row .product-info .product-des {
  display: -webkit-box;
}
.product.product-row .product-info .product-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product.product-row .product-info .product-info-bottom .product-des {
  margin-bottom: 0;
}
.product.product-row .product-info .product-info-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media only screen and (max-width: 991.98px) {
  .product.product-row .product-info .product-info-btn {
    gap: 10px;
  }
  .product.product-row {
    gap: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .product .product-content .product-title {
    font-size: 16px;
  }
  .product .product-content .price {
    font-size: 14px;
  }
  .product .product-content {
    padding: 25px 2px;
}
.product.product-row .product-info .product-des {
  margin-bottom: 0;
}
.product.product-row .product-info .product-price {
  margin: 10px 0;
}
.product.product-row .product-info .product-info-top {
  flex-wrap: wrap;
}
.product.product-row .product-info .product-info-bottom .product-des {
  margin-bottom: 10px;
}
.product.product-row .product-info .product-info-bottom {
  flex-wrap: wrap;
}
}