/* BREADCRUMB */
#fhm-breadcrumb {
  background: #f9f9f9;
}
#fhm-breadcrumb .container {
  display: flex;
  text-align: center;
  align-items: end;
}
.breadcrumb .breadcrumb-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  z-index: 1;
  width: 100%;
}
.breadcrumb .breadcrumb-link {
  padding: 15px 0px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.18px;
  opacity: 0.9;
}
.breadcrumb .breadcrumb-link:last-child {
  font-weight: 500;
  opacity: 1;
}

/* BANNER DETAIL  */
.banner-detail {
    margin-top: 80px;
}
.banner-detail img {
    border-radius: 30px;
}
@media (max-width:575.99px) {
    .banner-detail {
        margin-top: 40px;
    }
}

/* PRODUCT LIST */
#fhm-product-list {
    margin-top: 60px;
}
#fhm-product-list .block-product-list-container {
    margin-top: 70px;
}
.products .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 26px;
    column-gap: 27px;
    row-gap: 27px;
    padding-bottom: 48px;
    animation: fadeIn ease 0.75s;
}
.products {
    margin-top: 58px;
    position: relative;
    z-index: 1;
  }
  .products .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 26px;
         column-gap: 26px;
    row-gap: 26px;
    padding-bottom: 70px;
    animation: fadeIn ease 0.75s;
  }
  .products .products-container.products-row {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  .products .products-heading {
    font-size: 32px;
    font-weight: 400;
  }
  .products .quantity {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: rgba(97, 97, 97, 0.7);
  }
  .products .products-filter-toggle-button {
    font-size: 14px;
    line-height: 1.2;
    padding: 8px 32px;
    display: none;
    width: -moz-fit-content;
    width: fit-content;
  }
  .products .products-filter-list {
    padding-right: 25px;
    transform: translate(0);
  }
  .products .products-filter-list .products-filter-toggle-button-close {
    display: none;
  }
  .products .products-filter-list .products-filter-item {
    margin-bottom: 30px;
  }
  .products .products-filter-list .products-filter-item:not(:has(.collapse.show)) .products-filter-item-heading .icon .line:first-child {
    transform: rotate(90deg);
  }
  .products .products-filter-list .products-filter-item .text {
    font-weight: 300;
    font-size: 14px;
    color: #686868;
    margin-bottom: 0;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-heading {
    margin-bottom: 23px;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-heading .heading {
    font-size: 18px;
    line-height: normal;
    font-weight: 600;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-heading .icon {
    position: relative;
    cursor: pointer;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-heading .icon .line {
    width: 12px;
    height: 2px;
    background-color: #616161;
    transition: all 0.3s ease;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-heading .icon .line:last-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox] {
    max-height: 300px;
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: scroll;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox]::-webkit-scrollbar {
    width: 7px;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox]::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 100px;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox]::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 100px;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox]::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox] li {
    display: flex;
    align-items: center;
    gap: 13px;
    cursor: pointer;
    margin-bottom: 21px;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox] li:last-child {
    margin-bottom: 0;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox] li .checkbox {
    width: 19px;
    height: 19px;
    border: 1px solid #dedede;
    border-radius: 3px;
    transition: all ease 0.75s;
    position: relative;
    overflow: hidden;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox] li .checkbox[data-status=check] {
    border-color: #6D8434;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox] li .checkbox[data-status=check]::after {
    content: url("../assets/images/checked.svg");
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #6D8434;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox] .text .icon {
    display: inline-block;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox] .text .icon svg {
    margin-bottom: 4px;
    margin-right: 10px;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox] .text .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #686868;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-color] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    -moz-column-gap: 12px;
         column-gap: 12px;
    row-gap: 14px;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-color] .checkbox-color {
    max-width: 38px;
    aspect-ratio: 38/24;
    width: 100%;
    height: auto;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-color]  .checkbox-color {
    border: 1px solid #dedede;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-color] .checkbox-color[data-status=check] {
    border: 1px solid #616161;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-size] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-size] .checkbox-size {
    max-width: 55px;
    width: 100%;
    height: auto;
    border: 1px solid #c8c8c8;
    font-size: 12px;
    line-height: 1.366;
    padding: 4.5px;
    font-weight: 500;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-size] .checkbox-size[data-status=check] {
    background-color: #000000;
    color: #ffffff;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-search input {
    border-radius: 3px;
    border: 1px solid #dedede;
    outline: none;
    padding: 10px 9px 7px;
    margin: -5px 0 29px;
    width: 100%;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-dropdown .products-filter-item-dropdown-item {
    display: flex;
    gap: 17px;
    align-items: center;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-dropdown .products-filter-item-dropdown-item .text {
    font-size: 12px;
    font-weight: 300;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-dropdown .products-filter-item-dropdown-item select {
    border-radius: 3px;
    border: 1px solid #dedede;
    outline: none;
    font-size: 12px;
    font-weight: 300;
    padding: 3px 10px;
    width: 100%;
    background-color: #ffffff;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../assets/images/select-dropdown.svg");
    background-position: center right 5px;
    background-repeat: no-repeat;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-dropdown .products-filter-item-dropdown-item select:focus {
    border: 1px solid #000000;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-radio {
    margin-top: 21px;
    margin-left: 48px;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-radio .products-filter-item-radio-item {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #616161;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-radio .products-filter-item-radio-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-radio .products-filter-item-radio-item input:checked ~ .checkmark::after {
    display: block;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-radio .products-filter-item-radio-item .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border-radius: 300px;
    border: 1px solid #dedede;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-radio .products-filter-item-radio-item .checkmark::after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 300px;
    background: #000000;
  }
  .products .products-filter-list .products-filter-item .products-filter-item-radio .products-filter-item-radio-item:hover input ~ .checkmark::after {
    background: #000000;
  }
  .products .products-filter-list .products-filter-item .clear-button {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 17px 0 0 auto;
    cursor: pointer;
  }
  .products .products-filter-list .products-filter-item .clear-button .icon {
    width: 12px;
    display: flex;
    align-items: center;
  }
  .products .products-filter-list .products-filter-item .clear-button .icon svg {
    width: 100%;
  }
  .products .products-filter-list .products-filter-item .clear-button .text {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
  }
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider {
    background-color: #f2f2f2;
  }
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider .range-slider__thumb {
    width: 22px;
    height: 22px;
    border: 2px solid #e6e6e6;
    background-color: #ffffff;
  }
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider .range-slider__range {
    background-color: #e6e6e6;
  }
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider-input {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider-input .min,
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider-input .max {
    max-width: 90px;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #dedede;
    text-align: center;
  }
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider-input .min::-webkit-outer-spin-button, .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider-input .min::-webkit-inner-spin-button,
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider-input .max::-webkit-outer-spin-button,
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider-input .max::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider-input .line {
    width: 8px;
    height: 1px;
    background-color: #686868;
  }
  .products .products-list .products-list-sort .products-list-sort-view {
    gap: 30px;
  }
  .products .products-list .products-list-sort {
    margin: 0 0 31px;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-status {
    gap: 16px;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-status .text {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-status select {
    border-radius: 3px;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #616161;
    height: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../assets/images/select-dropdown.svg");
    background-position: center right 5px;
    background-repeat: no-repeat;
    padding: 0 20px 0;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-mode {
    gap: 11px;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-mode .text {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-mode .mode-list {
    gap: 9px;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-mode .mode-list .mode-item {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    transition: all ease 0.5s;
    cursor: pointer;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-mode .mode-list .mode-item:has(input:checked) {
    background-color: #000000;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-mode .mode-list .mode-item:has(input:checked) rect {
    fill: #ffffff;
    transition: all ease 0.5s;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-mode .mode-list .mode-item svg {
    width: 12px;
  }
  .products .products-list .products-list-sort .products-list-sort-view .products-list-sort-view-mode .mode-list .mode-item input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .products .products-list .products-list-item {
    margin: 0 auto 66px;
    max-width: 275px;
  }
  .products .products-list .products-list-pagination {
    margin-top: 4px;
    padding-top: 40px;
    border-top: 1px solid #efefef;
    flex-wrap: wrap;
  }
  .products .button-load-more button.load-more {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #367C2E;
    color: #367C2E;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2.8px;
    background: #fff;
    opacity: 0.8;
  }
  .products .button-load-more button.load-more:hover {
    border: 1px solid #367C2E;
    color: #ffff;
    background: #367C2E;
  }
  .products .products-list .products-list-pagination .products-list-pagination-result {
    font-size: 14px;
    color: #000000;
    font-weight: 300;
  }
  .products .products-list .products-list-pagination .products-list-pagination-page {
    gap: 20px;
  }
  .products .products-list .products-list-pagination .products-list-pagination-page .products-list-pagination-page-button {
    border-radius: 3px;
    padding: 6px 9px;
    text-align: center;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    color: #616161;
    background-color: #efefef;
    cursor: pointer;
    transition: background-color ease 0.5s;
  }
  .products .products-list .products-list-pagination .products-list-pagination-page .products-list-pagination-page-button:hover, .products .products-list .products-list-pagination .products-list-pagination-page .products-list-pagination-page-button.active {
    font-weight: 600;
    color: #ffffff;
    background-color: #a6a6a6;
  }
  .products .products-list .products-list-pagination .products-list-pagination-page .products-list-pagination-page-button:hover svg path, .products .products-list .products-list-pagination .products-list-pagination-page .products-list-pagination-page-button.active svg path {
    fill: #ffffff;
  }
  .products .products-list .products-list-pagination .products-list-pagination-page .products-list-pagination-page-button.prev, .products .products-list .products-list-pagination .products-list-pagination-page .products-list-pagination-page-button.next {
    gap: 7px;
    padding: 6px 12px;
  }
  .products .products-list .products-list-pagination .products-list-pagination-page .products-list-pagination-page-button.prev .icon, .products .products-list .products-list-pagination .products-list-pagination-page .products-list-pagination-page-button.next .icon {
    display: flex;
    align-items: center;
  }
  .products .products-list .products-list-guide {
    margin-top: 108px;
    margin-bottom: 200px;
  }
  .products .products-list .products-list-guide .heading::after {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 35px;
    height: 3px;
    background-color: #000000;
  }
  .products .products-list .products-list-guide .products-list-guide-content {
    max-height: 540px;
    height: auto;
    transition: max-height 0.7s ease;
    overflow: hidden;
    position: relative;
  }
  .products .products-list .products-list-guide .products-list-guide-content .products-list-guide-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 99px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    z-index: 2;
  }
  .products .products-list .products-list-guide .products-list-guide-content.show {
    max-height: 1500px;
  }
  .products .products-list .products-list-guide .products-list-guide-content.show .products-list-guide-more {
    opacity: 0;
  }
  .products .products-list .products-list-guide .products-list-guide-btn {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 14px;
    line-height: 28px;
    padding: 5px 20px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .products .products-list .products-list-guide .products-list-guide-btn:hover {
    background-color: #000000;
    color: #ffffff;
  }
  .products .products-list .products-list-guide .products-list-guide-btn:hover svg path {
    fill: #ffffff;
  }
  .products .products-list .paragraph {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
  }
  .products .products-list .products-list-guide .heading {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 14px;
  }
  .products .products-filter-list .products-filter-item-range-slider-wrapper .products-filter-item-range-slider .range-slider__range {
    background: #6D8434;
  }
  @media only screen and (max-width: 1199.99px) {
    .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-color] {
      -moz-column-gap: 6px;
           column-gap: 6px;
      row-gap: 10px;
    }
    .products .products-list .products-list-pagination {
        row-gap: 20px;
      }
  }
  @media only screen and (max-width: 991.99px) {
    .products .products-container {
      -moz-column-gap: 10px;
           column-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
    #fhm-product-list .block-product-list-container {
        margin-top: 50px;
    }
    .products .products-heading {
        font-size: 24px;
        line-height: 1.4;
      }
      .products .products-filter-list {
        padding-right: 15px;
      }
      .products .products-list {
        margin-left: -10px;
        font-size: 24px;
        line-height: 32px;
      }
      .products .products-list .products-list-sort {
        flex-wrap: wrap;
        margin-bottom: 30px;
        margin-top: 20px;
      }
      .products .products-list .products-list-sort .products-list-sort-view {
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
      }
      .products .products-list .products-list-guide .heading {
        padding-left: 0;
      }
      .products .products-container.products-row {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
      }
  }
  @media only screen and (max-width: 767.99px) {
    .products .products-filter-toggle-button {
      display: block;
      margin-top: 15px;
      background: #6D8434;
      color: #fff;
    }
    .products .products-filter-list {
        padding-right: 0;
        margin-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
        width: 100%;
        height: 100%;
        padding: 80px 10.5px 0;
        background-color: #ffffff;
        overflow-y: scroll;
        transform: translateX(-100%);
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
      }
      .products .products-filter-list.active {
        transform: translateX(0%);
      }
      .products .products-filter-list .products-filter-toggle-button-close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10.5px;
        padding: 10px 15px;
        border-radius: 3px;
        background-color: #000000;
        color: #ffffff;
        font-weight: 700;
      }
      .products .products-filter-list .products-filter-item {
        margin-left: auto;
        margin-right: auto;
      }
      .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-color] {
        -moz-column-gap: 15px;
             column-gap: 15px;
        row-gap: 15px;
      }
      .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-color] .checkbox-color {
        width: 100%;
        max-width: none;
      }
      .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-size] {
        grid-template-columns: repeat(5, 1fr);
      }
      .products .products-filter-list .products-filter-item .products-filter-item-criteria[data-type=checkbox-size] .checkbox-size {
        max-width: none;
      }
      .products .products-list {
        margin-left: 0;
      }
      .products .products-list .products-list-guide {
        margin-bottom: 140px;
      }
  }
  @media only screen and (max-width: 480px) {
    .products .products-list .products-list-sort {
      row-gap: 20px;
    }
    .products .products-list .products-list-pagination {
        row-gap: 20px;
      }
      .products .products-list .products-list-pagination .products-list-pagination-page {
        justify-content: space-between;
        gap: unset;
        width: 100%;
      }
      #fhm-product-list .block-product-list-container {
        margin-top: 20px;
    }
  }

/* REASON  */
#fhm-reason  {
    margin-bottom: -7%;
}
  #fhm-reason .reason-container {
    padding: 120px 0 25% 0;
    background: linear-gradient(359deg, #F4F1EA 65.16%, rgba(255, 255, 255, 0.00) 98.85%);
  }
  #fhm-reason .reason-container .container{
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  #fhm-reason .reason-group{
    padding: 0 10%;
  }
  #fhm-reason .reason-group .reason-content{
    width: 35%;
  }
  #fhm-reason .reason-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    gap: 50px;
  }
  #fhm-reason .bg-reason {
    transform: translateY(-50%);
  }
  #fhm-reason .bg-reason img {
    border-radius: 30px;
  }
  #fhm-reason .block-item .block-title {
    padding: 0 15%;
  }
  #fhm-reason .reason-item .reason-img,
  #fhm-reason .reason-item .reason-content {
    width: 40%;
  }
  #fhm-reason .reason-item .reason-content {
    padding-left: 32px;
    position: relative;
  }
  #fhm-reason .reason-item .reason-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 7px;
    height: 100%;
    background: url(../assets/images/heading-decor-left.png);
    background-repeat: repeat;
    background-position: center;
}
@media (max-width: 991.99px) {
    #fhm-reason .block-item .block-title {
        padding: 0;
      }
      #fhm-reason .reason-item {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
      }
      #fhm-reason .reason-item .reason-img,
      #fhm-reason .reason-item .reason-content {
        width: 100%;
      }
      #fhm-reason .reason-container .container {
        gap: 70px;
      }
      #fhm-reason .reason-group {
        padding: 0;
      }
}


/* RECENTLY VIEW  */
#fhm-recently-view {
    margin-bottom: 100px;
}
#fhm-recently-view .product {
    background: #fff;
}
#fhm-recently-view .product:hover {
    background: #fffcf5;
}
#fhm-recently-view .recently-view-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}
#fhm-recently-view h2.block-title-main {
    text-align: left;
}
@media (max-width: 991.99px) {
    #fhm-recently-view .recently-view-container {
        grid-template-columns: repeat(2, 1fr);
    }
}